# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish

on:
  release:
    types: [created]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"
          cache-dependency-path: ./pnpm-lock.yaml
          registry-url: https://registry.npmjs.org/
      - run: pnpm install
      - run: pnpm build
      - run: |
          if [[ $GITHUB_REF_NAME == *next* ]]; then
            pnpm publish --tag next --no-git-checks
          else
            pnpm publish --no-git-checks
          fi
